*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Neucha&family=Londrina+Solid:wght@300&display=swap"); 

.main {
    background: url("./photo-1599229809585-f92ea053b547.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
    
}



.content {
    background: rgb(6 5 5 / 53%);
    width: 100%;
    height: 100%;
}


h1 {
    font-size: 6em;
    margin: 0;
    text-shadow: 0px 0px 5px #fff;
    font-family: "Londrina Solid", Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: normal;
    padding-top: 1em;
    text-align: center;
    margin-bottom: 70px;
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}

.outer-circle {
    margin: auto;
    padding: 5px;
    position: relative;
    height: 15em;
    width: 51em;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    border-radius: 20px;
    animation: rotate 1.5s linear infinite;
  }
  
  @keyframes rotate {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

.card {
    width: 100%;
    height:   100%;
    border-radius: 20px;
    margin: auto;
   background-color: white;
   opacity: 0.9 ;

}

h3{
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-size: 40px;
}


table{
  border: 1px solid black;
  width: 80%;
  margin: auto;
  font-family: "Londrina Solid", Arial, Helvetica, sans-serif;
}

th {
  border: 1px solid black;
  width: 20%;
}

td{
  width: 20%;
  border: 1px solid black;
  text-align: right;
}

input, select{
  width: 100%;
  border: none;
}

p {
  font-size: 20px;
  font-weight: 400px;
}


